<!DOCTYPE html>

<html>

<head>
	<title>File Metadata</title>
	<link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
	<link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="container">
		<h2>API Project: File Metadata Microservice</h2>

		<h3>Usage:</h3>
		<p>
			Please Upload a File ...
		</p>
		<div class="view">
			<form action="/api/fileanalyse" enctype="multipart/form-data" method="post">
				<div class="form-group">
					<input type="file" class="form-control-file" name="upfile">
    <input type="submit" value="upload" class="btn btn-default">            
  </div>
</form>
          
         
      </div>
      <div class="footer">
        <p>
          by 
          <a href="https://kumarkalyan.web.app/">Kumar Kalyan</a>
        </p>
      </div>
   </body>
</html>